[Unit]
Description=Serve Remote Borg Backup - nas_synology1
After=network-online.target remote-backup-nas-synology1.socket
Requires=remote-backup-nas-synology1.socket

[Service]
ExecStart=borg serve --append-only --restrict-to-path /mnt/backup/nas_synology_one
Type=simple
User=remote-backup
StandardInput=socket
StandardOutput=socket
StandardError=journal